<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pp8.1-jvallejo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>

  <div class="row separacion ajustedeancho">
    <div class="small-8 columns">
      <h6 id="rosa">EXAMEN FINAL M8 UF-5</h6>
      <p id="Jonathan">
        Jonathan Vallejo
      </p>
    </div>
    <div class="small-4">
      <button type="button" class="button botonrosa">Home</button>
      <button class="dropdown button botongris">Page</button>
      <button type="button" class="button botongris">Grid</button>
      <button type="button" class="button botongris">Simple</button>
    </div>
  </div>

  <div class="fondopies">
      <div class="medium-3 medium-offset-2 separacion1">
        <p id="WEHAVE">We Have a Passion</p>
        <h5>For Great Designs!</h5>
        <button type="button" class="button botongris">Secondary Button</button>
        <button type="button" class="button botonrosa">Primary Button</button>
      </div>
      <div class="small-4 small-offset-6 separacion2">
        <img src="img/llibreta.jpg"/>
        <p class="textoimagen">Flexible Sliding caption. Add your own caption text here.
        </p>
      </div>
    </div>


<div class="row separacion ajustedeancho">
  <div class="small-12 columns ">
   <h3>Welcome</h3>
    <p class="pjustificada">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
</div>

<div class="row separacion ajustedeancho">

  <div class="small-4 columns">
    <h3>1/3 Column</h3>
    <img src="img/img_buida.png">
    <p class="separacionpeque">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p id="readmore">
      Read More
    </p>
  </div>

  <div class="small-4 columns">
    <h3>1/3 Column</h3>
    <img src="img/img_buida.png">
    <p class="separacionpeque">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p id="readmore">
      Read More
    </p>
  </div>

  <div class="small-4 columns">
    <h3>1/3 Column</h3>
    <img src="img/img_buida.png">
    <p class="separacionpeque">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p id="readmore">
      Read More
    </p>
  </div>
</div>

<div class="row separacion ajustedeancho">
  <div class="small-3 columns">
    <h5>About Company</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
    </p>
    <p id="readmore">Terms Use</p>
    <p id="readmore">Privacity</p>
    <p id="readmore">FAQ</p>
    <p id="readmore">sitemap</p>
  </div>

  <div class="small-3 columns">
    <h5>About Company</h5>
    <p id="readmore">Lorem ipsum dolor sit.</p>
    <p >15 hours ago</p>
    <p id="readmore">Duis moollis ets non</p>
    <p >16 hours ago</p>
    <p id="readmore">Maecenas sed diam</p>
    <p >17 hours ago</p>
    <p id="readmore">VIEW ALL POSTS</p>
  </div>

  <div class="small-3 columns">
    <h5>Sample footer</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    </p>
  </div>

  <div class="small-3 columns">
    <h5>Get in touch</h5>
    <p><i class="fa fa-phone"></i>  Phone:</p>
    <p>000000000 / 00000000</p>
    <p><i class="fa fa-envelope-o"></i>  Email:</p>
    <p id="readmore">alumne@gmail.com</p>
    <p><i class="fa fa-home"></i>  Address</p>
    <p>c/ inventada nº10</p>
  </div>
</div>

<div class="row separacion ajustedeancho">
  <div class="small-12 columns">
      <p>Copyright 2016! JVallejo</p>
  </div>

  <div class="row separacionfinal">
    <div class="small-12 large-expand columns" id="readmore">FACEBOOK</div>
    <div class="small-12 large-expand columns" id="readmore">TWITTER</div>
    <div class="small-12 large-expand columns" id="readmore">PRINTEST</div>
    <div class="small-12 large-expand columns" id="readmore"><i class="fa fa-rss"></i>RSS</div>
  </div>
</div>


</body>

</html>
