.fondoblanco {
  background-color: inherit;
}

.separacion {
  padding-top: 20px;
}

#rosa {
  color: #FE2EC8;
}

.pjustificada {
  text-align: justify;
}

#readmore {
  color: #FE2EC8;
  text-align: left;
}

.separacionpeque {
  padding-top: 10px;
}

.botonrosa {
  background-color: #FE2EC8;
}

.botongris {
  background-color: #E6E6E6;
  color: #000;
}

#Jonathan {
  color: #BDBDBD;
}

.fondopies{
  background-image: url(../img/peus.jpg);
  height: 500px;
}

.ajustedeancho {
  width: 80%;
}
.separacionfinal {
  padding-bottom: 20px;
  padding-left: 14px;
}

.textoimagen{
  background-color: #000;
  color: #FFF;
}

.separacion1{
  padding-top: 200px;
}

.separacion2{
  margin-top: -300px;
}

#WEHAVE {
  color: #FE2EC8;
  font-size: 35px;
}
